@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-left .logo {
  height: 50px;
  padding: 0;
}

.cart-widget {
  height: 50px;
  cursor: pointer;
}

.navbar .cart-widget img{
  width: 50px;
}

.cart-widget .cart-notification {
  background-color: red;
  color: white;
  border-radius: 50%;
  position: relative;
  top: -65px;
  left: 45px;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 3rem; 
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.menu li {
  list-style: none;
}

.item-list-container{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.product img {
  width: 100%;
  object-fit: cover;
}

.greeting {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Caveat', cursive;
}